<div class="hero-unit">
    <h2>This is your story</h2>

    <p>In a world where HTML is a martial art, you are a kid with a special gift, you can use Emmet, the power of speed
        coding. Soon you will discover that you are not the only one with this power, other people are able to use
        Emmet and some much better than you. You will find a master, good friends and dreadful enemies.</p>

    <p>This is your story. Get ready. Type.</p>

    <a href="#/start-your-story" class="btn btn-primary btn-large">Start »</a>
    <a href="http://www.pixar.com" class="btn btn-large">No, I'm too afraid!</a>
</div>