<article>
    <h2>Your story.</h2>

    <p>In a word where HTML is a martial art, you are a kid with a special gift, you can use Emmet the power of speed coding.</p>

    <p>Soon you will discover that you are not the only one with this power, other people are able to use Emmet, much better than you.</p>

    <p>You will find a master, good friends and dreadful enemies. You will find a master, good friends and dreadful enemies.</p>

    <p>You will find a master, good friends and dreadful enemies. This is your story. Get ready. Type.</p>


    <a href="#/start-your-story"class="btn btn-primary">Start</a>
</article>